<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Binary Id="TextReplaceCa" SourceFile="$(var.TextReplaceCA.TargetPath)" />
    <CustomAction Id="TextReplace" BinaryKey="TextReplaceCa" DllEntry="TextReplace" Execute="deferred" Return="check" SuppressModularization="yes" />
    <InstallExecuteSequence>
      <Custom Action="TextReplace" Before="InstallFinalize" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
