<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:tx="http://schemas.rottedfrog.co.uk/wix/TextReplace">
	<Product Id="*" Name="TextReplace.Test.Setup" Language="1033" Version="1.0.0.0" Manufacturer="Rotted Frog Enterprises" UpgradeCode="208d6b94-d1be-4f08-a53f-38c6e7642258">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="TextReplace.Test.Setup" Level="1">
			<ComponentRef Id="Comp1" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TextReplace.Test.Setup">
          <Component Id="Comp1">
            <File Id="testfile" Source="Testfile.txt" />
            <tx:TextReplace Id="text1" File="[#testfile]" Match="Hello " Replace="$&amp;$&amp;" />
          </Component>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>
